:root {
  /* colors */
  /* background */
  --background-color: #0f0326;
  --onBackgroundColor: #ffffff;

  /* surface */
  --surfaceColour: #0f0326;
  --onSurfaceColor: #ffffff;

  /* accent */
  --primaryAccentColor: #69dc9e;
  --secondaryAccentColor: #feefe5;
}

.button {
  text-decoration: none;
  color: var(--onSurfaceColor);
  background-color: var(--surfaceColour);
}
