:root {
  --headerFont: "Crete Round", serif;
  --bodyFont: "Poppins", sans-serif;
  /* colors */
  /* background */
  --backgroundColor: #0f0326;
  --onBackgroundColor: #ffffff;

  /* surface */
  --surfaceColor: #252323;
  --onSurfaceColor: #ffffff;

  /* accent */
  --primaryAccentColor: #69dc9e;
  --secondaryAccentColor: #feefe5;

  /* sizies */
  --scalingFactor: 1.25;

  --sizeXS: 1rem;
  --sizeSM: calc(var(--sizeXS) * var(--scalingFactor));
  --sizeMD: calc(var(--sizeSM) * var(--scalingFactor)); /* h4 */
  --sizeLG: calc(var(--sizeMD) * var(--scalingFactor)); /* h3 */
  --sizeXL: calc(var(--sizeLG) * var(--scalingFactor)); /* h2 */
  --sizeXXL: calc(var(--sizeXL) * var(--scalingFactor)); /* h1 */
}

.dark {
  /* colors */
  /* background */
  --backgroundColor: #8f5cee;
  --onBackgroundColor: #000000;

  /* surface */
  --surfaceColor: #0f0326;
  --onSurfaceColor: #ffffff;

  /* accent */

  --primaryAccentColor: #69dc9e;
  --secondaryAccentColor: #feefe5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColor);
  color: var(--onBackgroundColor);
  min-height: 100svh;
  font-size: 16px;
  gap: 1rem;
  font-family: var(--bodyFont);
}

h1,
h2,
h3,
h4 {
  font-family: var(--headerFont);
}

h1 {
  font-size: var(--sizeXXL);
}
h2 {
  font-size: var(--sizeXL);
}
h3 {
  font-size: var(--sizeLG);
}
h4 {
  font-size: var(--sizeMD);
}

header * {
  display: flex;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--sizeSM);
  background-color: var(--primaryAccentColor);
}
header nav ul {
  align-items: center;
  gap: 1rem;
}
header nav .button {
  --primaryAccentColor: var(--secondaryAccentColor);
  color: var(--surfaceColor);
}

.button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--onSurfaceColor);
  background-color: var(--surfaceColor);
  border-radius: 0.5rem;

  /* box-sizing: border-box; */
  border: 1px solid var(--onSurfaceColor);
  padding: 1rem;
  margin: 0;
  font-size: 1rem;
}

.button.primary {
  background-color: var(--primaryAccentColor);
}

.button.secondary {
  background-color: var(--secondaryAccentColor);
  color: var(--surfaceColor);
}
